@import "variables";

.header {
  height: $header-height !important;
  line-height: $header-height !important;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
}

.main-menu {
  height: $header-height;
  margin: 0 !important;
  padding: 0 !important;
  line-height: $header-height;
}

.div-logo {
  height: $header-height;
  width: 10em;
  margin: 0px;
  padding: 0px;
  float: left;
}

.logo {
  height: 100%;
}

.btn-height-imp {
  height: 60% !important;
}
